@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Martel:wght@200;400;700;900&display=swap');

.App {
	font-family: 'Martel', serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	row-gap: 20px;
}
.App-header {
	background-image: url("./assets/main-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
h1 { 
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	margin: 0;
}
caption {
	position: absolute;
	font-size: x-small;
	color: rgb(100 100 100);
	top: 300px;
	left: 20px;
}
a {
	text-decoration: underline;
	color: rgb(158	195	243	);
}
a:hover {
	cursor: pointer;
	text-decoration: dotted;
	color: rgb(103	138	183	);
}
footer {
	margin-top: auto;
	font-size: small;
}