.App {
	text-align: center;
}
.App-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("./assets/main-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	max-width: 960px;
	margin: auto;
	background-color: transparent;
}
a {
	text-decoration: underline;
	color: rgb(158	195	243	);
}
a:hover {
	cursor: pointer;
	text-decoration: dotted;
	color: rgb(103	138	183	);
}